<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//yastatic.net/market-skubi/_/LKcl4spoX9Ks3afwabmo2OOgdoc.css">
    <script id="//an.yandex.ru/resource/context_static_r_3061.js" src="https://an.yandex.ru/resource/context_static_r_3061.js"></script>
    <script type="text/javascript" src="//an.yandex.ru/system/context.js" async=""></script>
    <script src="//yastatic.net/jquery/1.8.2/jquery.min.js" defer=""></script>
    <script src="//yastatic.net/market-skubi/_/zDUM68JrRMjT0Bb9rQXfoJ1TYyk.js" defer=""></script>
    <title>Каталог товаров</title>
</head>
<body>
<div class="layout layout_type_maya">
    <div class="n-filter-panel-dropdown i-bem n-filter-panel-dropdown_js_inited">
        <div class="n-filter-panel-dropdown__placeholder"></div>
        <div class="n-filter-panel-dropdown__main"></div>
        <div class="layout layout_type_search i-bem">
            <div class="layout__col layout__col_search-results_normal i-bem">
                <div class="serp-empty island i-bem serp-empty_state_hidden serp-empty_js_inited">
                    <div class="serp-empty__wrapper">
                        <div class="title">Нет подходящих товаров</div>
                        <div class="serp-empty__subtitle">попробуйте смягчить условия поиска</div>
                        <button class="button button_action_n-filter-reset button_size_m button_pseudo_yes button_theme_pseudo i-bem" role="button" type="button">
                            <span class="button__text">Сбросить фильтры</span>
                        </button>
                    </div>
                </div>
                <div class="n-filter-applied-results metrika b-zone i-bem n-filter-applied-results_js_inited b-zone_js_inited">
                    <div class="n-filter-applied-results__content preloadable i-bem preloadable_js_inited">
                            <div class="n-snippet-list n-snippet-list_type_grid snippet-list_size_3 metrika i-bem snippet-list_js_inited metrika_js_inited">
                                {% for product in products %}
                                <div class="n-snippet-cell2 i-bem n-snippet-cell2_type_product n-snippet-cell2_js_inited">
                                <div class="n-snippet-cell2__stickers"></div>
                                <a class="n-snippet-cell2__image link i-bem link_js_inited" href="/product/{{ product.id }}" title="{{ product.title }}">
                                    <img class="image" src="{{ url_for('static', filename=product.image1) }}" title="{{ product.title }}" alt="{{ product.title }}" srcset="//avatars.mds.yandex.net/get-mpic/195452/img_id4783826773129378920/9hq 1.5x">
                                </a>
                                <div class="n-snippet-cell2__header">
                                    <div class="n-snippet-cell2__title">
                                        <a class="link n-link_theme_blue" href="/product/{{ product.id }}">{{ product.title }}</a>
                                    </div>
                                </div>
                                <div class="n-snippet-cell2__body">
                                    <div class="n-snippet-cell2__price">
                                        <div class="n-snippet-cell2__main-price">
                                            <a class="link n-smart-link i-bem" href="/product/{{ product.id }}">
                                                <div class="price">{{ product.price }} ₽</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>